<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="FarNet" />
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9999.9999.9999.9999" newVersion="4.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9999.9999.9999.9999" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <!--FarNet.Trace: Off, Critical, Error, Warning (recommended), Information, Verbose-->
    <switches>
      <add name="FarNet.Trace" value="Warning" />
    </switches>
    <!--Listeners that <source> or <trace> elements can reference by adding <add name="File" /> to their <listeners>-->
    <sharedListeners>
      <!--add name="File" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Far.exe.trace.log"/-->
    </sharedListeners>
    <!--Trace sources and options-->
    <sources>
      <source name="FarNet" switchName="FarNet.Trace" switchType="System.Diagnostics.SourceSwitch" />
    </sources>
    <!--Trace and Debug options-->
    <trace autoflush="true" indentsize="4">
      <listeners>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
