<?xml version="1.0"?>
<configuration>

	<!--Needed for debugging in VS2010.-->
	<startup>
		<supportedRuntime version="v2.0.50727"/>
	</startup>
	
	<!--Mandatory runtime section.-->
	<runtime>
		<!--Contains information about assembly version redirection and the locations of assemblies.-->
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="FarNet"/>
		</assemblyBinding>
	</runtime>

	<!--Optional diagnostics section.-->
	<system.diagnostics>

		<!--Specifies trace sources that initiate tracing messages.-->
		<sources>
			<source name="FarNet" switchName="FarNet.Trace" switchType="System.Diagnostics.SourceSwitch">
				<listeners>
				</listeners>
			</source>
		</sources>

		<!--FarNet.Trace switch values: Off, Critical, Error, Warning (recommended), Information, Verbose.-->
		<switches>
			<add name="FarNet.Trace" value="Warning"/>
		</switches>

		<!--Listeners that any source or trace element can reference: they are added to <listeners> by <add name="...">.-->
		<sharedListeners>
			<!--
			<add name="FarNet.Trace.File" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Far.exe.trace.log"/>
			-->
		</sharedListeners>

		<!--Options and listeners for the Trace and Debug classes.-->
		<trace autoflush="true" indentsize="4">
			<listeners>
			</listeners>
		</trace>

	</system.diagnostics>

</configuration>
