# https://editorconfig.org

root = true

[*]
trim_trailing_whitespace = true
indent_style = tab
tab_width = 4

[*.{fs,fsx,fsi,js,md,text,help.txt,COMMIT_EDITMSG}]
indent_style = space
indent_size = 4

[*.{json,xml,*proj,hrc,hrd,lua}]
indent_style = space
indent_size = 2

[*.{h,cpp}]
cpp_indent_namespace_contents = false

[*.cs]
dotnet_diagnostic.IDE0008.severity = none
dotnet_diagnostic.IDE0130.severity = none
