.vs
bin
obj
ipch
Debug
Release
Properties
TestResults
z

z.*
*.clixml
*.opendb
*.opensdf
*.sdf
*.suo
*.user
*.VC.db

*.htm*
*.nupkg
Active.h
AssemblyInfo.cs
AssemblyMeta.*
Directory.Build.props
