<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="Lib"/>
		</assemblyBinding>
	</runtime>
	<appSettings>
        <add key="FarNet.Plugins" value="%FARHOME%\Plugins.NET" />
        <add key="FarNet.StartupErrorDialog" value="0" />
    </appSettings>
</configuration>
