<?xml version="1.0"?>
<configuration>

	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0.30319"/>
		<supportedRuntime version="v2.0.50727"/>
	</startup>

	<!--Mandatory runtime section.-->
	<runtime>
		<!--Contains information about assembly version redirection and the locations of assemblies.-->
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="FarNet"/>
		</assemblyBinding>
	</runtime>

	<!--Optional diagnostics section.-->
	<system.diagnostics>

		<!--FarNet.Trace switch values: Off, Critical, Error, Warning (recommended), Information, Verbose.-->
		<switches>
			<add name="FarNet.Trace" value="Warning"/>
		</switches>

		<!--Listeners that <source> or <trace> elements can reference by adding <add name="File"/> to their <listeners>.-->
		<sharedListeners>
			<!--add name="File" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Far.exe.trace.log"/-->
		</sharedListeners>

		<!--Trace sources and options.-->
		<sources>
			<source name="FarNet" switchName="FarNet.Trace" switchType="System.Diagnostics.SourceSwitch">
				<listeners>
				</listeners>
			</source>
		</sources>

		<!--Trace and Debug options.-->
		<trace autoflush="true" indentsize="4">
			<listeners>
			</listeners>
		</trace>

	</system.diagnostics>

</configuration>
